CRMSwitch_Project/force-app/main/default/flows/Clone_TaskRay_Projects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_a_Project</name>
        <label>Clone a Project</label>
        <locationX>642</locationX>
        <locationY>291</locationY>
        <actionName>TASKRAY__trCloneProject_async</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>forEach_TaskRay_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalParam1</name>
            <value>
                <stringValue>{!forEach_TaskRay_Project.Cloned_Append_Name__c} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordId</name>
            <value>
                <elementReference>forEach_TaskRay_Project.TASKRAY__trAccount__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optionalParam2</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateProjectId</name>
            <value>
                <elementReference>forEach_TaskRay_Project.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Clone TaskRay Projects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone TaskRay Projects</label>
    <loops>
        <name>forEach_TaskRay_Project</name>
        <label>forEach TaskRay Project</label>
        <locationX>397</locationX>
        <locationY>291</locationY>
        <collectionReference>getTaskRayProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_a_Project</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTaskRayProjects</name>
        <label>getTaskRayProjects</label>
        <locationX>178</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEach_TaskRay_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TASKRAY__trTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Scheduled_to_Run__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TASKRAY__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getTaskRayProjects</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-28</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
