EDAProject/force-app/main/default/flows/Convert_CSV_to_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_CSV_Data_to_Contacts</name>
        <label>Convert CSV Data to Contacts</label>
        <locationX>643</locationX>
        <locationY>116</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>File_Upload.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <interviewLabel>Convert CSV to Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert CSV to Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>845</locationX>
        <locationY>152</locationY>
        <inputReference>Convert_CSV_Data_to_Contacts.convertedCSVRows</inputReference>
    </recordCreates>
    <screens>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>480</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_CSV_Data_to_Contacts</targetReference>
        </connector>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload CSV File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>File_Upload.contentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>003R000001ZczcQIAR</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>generateContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uploadedContentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
