EDAProject/force-app/main/default/flows/Course_Registration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_values_to_Course_Connection</name>
        <label>Assign values to Course Connection</label>
        <locationX>550</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>CourseConnectionToBeCreated.hed__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseConnectionToBeCreated.hed__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseConnectionToBeCreated.hed__Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CourseOfferingSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Course_Connection</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>CourseOfferingSchedules</name>
        <dataType>String</dataType>
        <displayField>DateTimeOfCourse__c</displayField>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingSelected.Id</elementReference>
            </value>
        </filters>
        <object>hed__Course_Offering_Schedule__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Course Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Registration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Course_Connection</name>
        <label>Create Course Connection</label>
        <locationX>648</locationX>
        <locationY>333</locationY>
        <inputReference>CourseConnectionToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>220</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TempName</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_User.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>get User</label>
        <locationX>125</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SelectCourseOfferingSchedule</name>
        <label>Select a Schedule</label>
        <locationX>416</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_Course_Connection</targetReference>
        </connector>
        <fields>
            <name>CourseOfferingScheduleSelector</name>
            <choiceReferences>CourseOfferingSchedules</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a class session.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TempName</name>
        <label>TempName</label>
        <locationX>356</locationX>
        <locationY>226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectCourseOfferingSchedule</targetReference>
        </connector>
        <fields>
            <name>CourseOfferingLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>CourseOfferingSelected.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>hed__Course_Offering__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select the course you&apos;re interested in.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseConnectionToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>CourseOfferingScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering_Schedule__c</objectType>
    </variables>
    <variables>
        <name>CourseOfferingSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
</Flow>
