EDAProject/force-app/main/default/flows/Student_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_User</name>
        <label>Assign User</label>
        <locationX>849</locationX>
        <locationY>90</locationY>
        <assignmentItems>
            <assignToReference>user.Student_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextStudentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Military_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextMilitaryBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>user.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_User_Id.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_user</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Student Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_User_Id</name>
        <label>Find User Id</label>
        <locationX>261</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Student_Registration</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Student_Type__c</queriedFields>
        <queriedFields>Military_Branch__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user</name>
        <label>Update user</label>
        <locationX>857</locationX>
        <locationY>215</locationY>
        <inputReference>user</inputReference>
    </recordUpdates>
    <screens>
        <name>Data_Check_Screen</name>
        <label>Screen_DisplayText</label>
        <locationX>672</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_User</targetReference>
        </connector>
        <fields>
            <name>DT_TestData1</name>
            <fieldText>&lt;p&gt;{!TextStudentType}&lt;/p&gt;&lt;p&gt;{!TextMilitaryBranch}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Student_Registration</name>
        <label>Student Registration</label>
        <locationX>452</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Data_Check_Screen</targetReference>
        </connector>
        <fields>
            <name>Student_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Find_User_Id.Name</elementReference>
            </defaultValue>
            <fieldText>Student Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MilitaryBranchDependentPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Student_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Military_Branch__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TextStudentType</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TextMilitaryBranch</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_User_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>TextMilitaryBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextStudentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>VarUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
