EDAProject/force-app/main/default/flows/Student_Home_screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Student_Detail</name>
        <label>Assign Student Detail</label>
        <locationX>696</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>varEndofFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No10</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No11</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No12</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No13</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No14</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No15</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No2</name>
        <choiceText>{!HaveYouRegistered}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No3</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No4</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No5</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No6</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No7</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No8</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No9</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>We have two choice 
Yes 
No</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes4</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes5</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes6</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes7</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes8</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_is_type_of_student</name>
        <label>What is type of student</label>
        <locationX>647</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Assign_Student_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International</defaultConnectorLabel>
        <rules>
            <name>Military</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStudentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Military</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMilitaryBranch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Force</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Military_student</targetReference>
            </connector>
            <label>Military</label>
        </rules>
        <rules>
            <name>Civilian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStudentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Civilian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Civilian_Student</targetReference>
            </connector>
            <label>Civilian</label>
        </rules>
    </decisions>
    <interviewLabel>Student Home screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student OnBoarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>683</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>EndofFlow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Profile_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Civilian_Student</name>
        <label>Civilian Student</label>
        <locationX>274</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
        <fields>
            <name>CivilianStudentOnboardingQuestions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Civilian Student Onboarding Questions&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you registered with Joint Knowledge Online and affiliated yourself with NDU?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Register_for_Joint_Knowledge</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Register for Joint Knowledge Online here: &lt;/span&gt;&lt;a href=&quot;https://jkosupport.jten.mil/Atlas2/page/login/Login.jsf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(30, 28, 179);&quot;&gt;https://jkosupport.jten.mil/Atlas2/page/login/Login.jsf&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_completed_your_Security_Clearance_Registration_Course_Application_Form</name>
            <choiceReferences>Yes2</choiceReferences>
            <choiceReferences>No3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed your Security Clearance Registration Course Application Form?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Complete the &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Security Clearance Registration Course Application Form&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; via the &lt;/span&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(22, 32, 176);&quot;&gt;Joint Event Management System (JEMIS)&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Upload the document below. All security clearance information must be submitted to the NDU Security Office at least 30 days prior to the first day of class.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No3</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadSecurityClearanceRegistrationCourseApplicationForm</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Security Clearance Registration Course Application Form</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No3</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_obtained_a_Common_Access_Card</name>
            <choiceReferences>Yes4</choiceReferences>
            <choiceReferences>No4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you obtained a Common Access Card?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TheNDUSecurityOffice</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The NDU Security Office highly recommends that students complete the CAC issuing/reissuing process as soon as possible to ensure base access and a smooth in-processing. To obtain a CAC, make a RAPIDS appointment with the &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;NDU Security Office in Marshall Hall, Building 62, Room 199A&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. You must check in at the Marshall Hall Guard Desk prior to proceeding to the NDU Security Office.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No4</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_completed_your_NATO_Awareness_Briefing_Certificate</name>
            <choiceReferences>Yes5</choiceReferences>
            <choiceReferences>No5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed your NATO Awareness Briefing Certificate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AllUScivilianstudents</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;All US civilian students are required to complete a &lt;/span&gt;&lt;u style=&quot;font-size: 14px; color: rgb(40, 17, 192);&quot;&gt;NATO Awareness Briefing Certificate&lt;/u&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;. Students will turn in the completed certificate to the NDU Security Office during in-processing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No5</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_submitted_a_copy_of_immunization_records_to_NDU_s_Health_Fitness_Office</name>
            <choiceReferences>Yes6</choiceReferences>
            <choiceReferences>No6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you submitted a copy of immunization records to NDU&apos;s Health/Fitness Office?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Civilian2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Civilian students should email (&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;ENCRYPTED ONLY&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;), transmit via DOD SAFE, or hand-deliver a copy of their immunization records to &lt;/span&gt;&lt;u style=&quot;font-size: 14px; color: rgb(35, 12, 205);&quot;&gt;Mr. Don Myers&lt;/u&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; in NDU&apos;s Health/Fitness Office.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No6</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndofFlow</name>
        <label>EndofFlow</label>
        <locationX>695</locationX>
        <locationY>831</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You have successfully completed the NDU student onboarding process.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;If you have any additional questions, please reach out to the NDU Registrar.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Military_student</name>
        <label>Military student</label>
        <locationX>1073</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Program_0</targetReference>
        </connector>
        <fields>
            <name>MilitaryStudentOnboarding</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Military Student Onboarding Questions&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_completed_the_current_Cyber_Awareness_Challenge_course</name>
            <choiceReferences>Yes7</choiceReferences>
            <choiceReferences>No7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the current Cyber Awareness Challenge course?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Access_the_training_here</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Access the training here: &lt;/span&gt;&lt;a href=&quot;https://jkodirect.jten.mil/html/COI.xhtml?course_prefix=DOD&amp;amp;course_number=-US1364-20&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;https://jkodirect.jten.mil/html/COI.xhtml?course_prefix=DOD&amp;amp;course_number=-US1364-20&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No7</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_sent_your_course_completion_certificate_and_completed_SAAR_Form_2875_to</name>
            <choiceReferences>Yes8</choiceReferences>
            <choiceReferences>No8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>-	Have you sent your course completion certificate and completed SAAR Form 2875 to NDU?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Access_the_SAAR_Form</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Access the SAAR Form 2875 from the &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Documents&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Tab&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No8</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_SAAR_Form</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Your Completed SAAR Form Here</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No8</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_completed_the_IDA_Worksheet_top_half_of_page_1_and_e_mailed_to_usaf_jba</name>
            <choiceReferences>Yes9</choiceReferences>
            <choiceReferences>No9</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the IDA Worksheet (top half of page 1) and e-mailed to usaf.jbanafw.afdw-staff.mbx.jbab-jt-customer-service@mail.mil?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>You_can_access_the_IDA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Access the IDA Worksheet from the &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Documents Tab&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No9</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Program</name>
        <label>Program</label>
        <locationX>456</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Student_Detail</targetReference>
        </connector>
        <fields>
            <name>Program_Onboarding_Questions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;NWC Program Onboarding Questions&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_met_with_your_academic_advisor</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No10</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you met with your academic advisor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Your_academic_advisor</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your academic advisor is &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Dr. Richard Andres, &lt;/b&gt;&lt;b style=&quot;color: rgb(38, 17, 195); font-size: 14px;&quot;&gt;&lt;u&gt;richard.andres@ndu.edu&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No10</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_enrolled_in_the_Pre_Attendance_course_on_Blackboard</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No11</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you enrolled in the Pre-Attendance course on Blackboard?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Access_NDU_Blackboard</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Access &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(19, 22, 221);&quot;&gt;&lt;u&gt;NDU Blackboard&lt;/u&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;to enroll and register in the course&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No11</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_scheduled_your_meet_and_greet_with_RADM_Pringle</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No12</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you scheduled your meet-and-greet with RADM Pringle?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_schedule_your_meeting</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To schedule your meeting, call the NWC Administrative Office at &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;202-685-3674&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No12</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Program_0</name>
        <label>Program 2</label>
        <locationX>929</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Student_Detail</targetReference>
        </connector>
        <fields>
            <name>Program_Onboarding_Questions_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;JFSC Program Onboarding Questions&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_met_with_your_academic_advisor2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No13</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you met with your academic advisor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Your_academic_advisor_is2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your academic advisor is:&amp;nbsp;Col. Jody Owens, &lt;/span&gt;&lt;u style=&quot;font-size: 14px; color: rgb(32, 15, 218);&quot;&gt;jody.owens@ndu.edu&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No13</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_completed_the_JAWS_Writing_Test</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No14</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the JAWS Writing Test?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>The_JAWS_writing_test</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The JAWS writing test will be conducted online but in a controlled environment in the student&apos;s local area. This will require the student to provide information on the local Test Control Officer (TCO), or a person willing to act as a proctor for JFSC TCO. The local TCO/proctor will administer the test and forward the results to JFSC for individual assessment. Students may contact the Registrar’s office at &lt;/span&gt;&lt;a href=&quot;mailto:registrar2@ndu.edu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(26, 16, 215);&quot;&gt;&lt;u&gt;registrar2@ndu.edu&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, regarding questions about test administration.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No14</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_provided_JFSC_with_your_undergraduate_transcript</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No15</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you provided JFSC with your undergraduate transcript?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Your_transcript_must_be_mailed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Your transcript must be mailed directly from your undergraduate alma mater. Mail transcript to &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Joint Forces Staff College, Attn: DAA-Registrar, 7800 Hampton Blvd., Norfolk, VA 23511-1702&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No15</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Student_type_info</name>
        <label>Student type info</label>
        <locationX>680</locationX>
        <locationY>54</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_is_type_of_student</targetReference>
        </connector>
        <fields>
            <name>StudentName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;New Student Onboarding&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Answer the below questions to complete your student profile.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Personal_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Personal Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Your_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Enter Your Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Permanent_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Enter Your Permanent Residence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Student_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Student Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StudentTypeDPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Student_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Military_Branch__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Select Your Student Affiliation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Select Your Military Branch (If Applicable)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varStudentType</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varMilitaryBranch</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Program_Information</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Program of Study Information&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollegeProgramPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>NDU_College__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>NDU_Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Select Your College Affiliation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Select Your Program of Study</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Student_type_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HaveYouRegistered</name>
        <text>&lt;p&gt;If No: Register for Joint Knowledge Online here: &lt;a href=&quot;https://jkosupport.jten.mil/Atlas2/page/login/Login.jsf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://jkosupport.jten.mil/Atlas2/page/login/Login.jsf&lt;/a&gt; &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varEndofFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMilitaryBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStudentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
