EDAProject_New/force-app/main/default/flows/Manage_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>EnrollMultipleStudents</name>
        <choiceText>Enroll Multiple Students in a Course (Batch Enrollment)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SingleStudent</name>
        <choiceText>Enroll a Single Student in a Course</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Route_Decision</name>
        <label>Route Decision</label>
        <locationX>652</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleStudent</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Student_Enrollment</targetReference>
            </connector>
            <label>Single</label>
        </rules>
        <rules>
            <name>Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnrollMultipleStudents</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Student_Enrollment</targetReference>
            </connector>
            <label>Multiple</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Course_Offerings</name>
        <dataType>String</dataType>
        <displayField>Course_Summary__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0P54000002ThSIEA0</stringValue>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>925</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Single_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>Select_Student.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>Select_Course_for_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_1</name>
        <label>Create Record 1</label>
        <locationX>1077</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Create_Record_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <stringValue>0035400000bjN7TAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <stringValue>a0B54000003GPaxEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_1_0</name>
        <label>Create Record 2</label>
        <locationX>1211</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Create_Record_1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <stringValue>0035400000bjIYJAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <stringValue>a0B54000003GPaxEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_1_0_0</name>
        <label>Create Record 3</label>
        <locationX>1341</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Single_Success_0</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <stringValue>0035400000bjIRkAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <stringValue>a0B54000003GPaxEAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Home</name>
        <label>Home</label>
        <locationX>481</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Route_Decision</targetReference>
        </connector>
        <fields>
            <name>I_want_to</name>
            <choiceReferences>SingleStudent</choiceReferences>
            <choiceReferences>EnrollMultipleStudents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I want to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Student_Enrollment</name>
        <label>Multiple Student Enrollment</label>
        <locationX>802</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>Select_Students</name>
            <choiceReferences>ContactRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Students</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Course_for_Enrollment2</name>
            <choiceReferences>Course_Offerings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Course for Enrollment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Student_Enrollment</name>
        <label>Single Student Enrollment</label>
        <locationX>814</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Student</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Student Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>hed__Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>hed__Course_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Course_for_Enrollment</name>
            <choiceReferences>Course_Offerings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Course for Enrollment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Success</name>
        <label>Single Success</label>
        <locationX>1063</locationX>
        <locationY>45</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>You_have_successfully_enrolled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You have successfully enrolled {!Select_Student.recordName} in {!Select_Course_for_Enrollment}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Success_0</name>
        <label>Multiple Success</label>
        <locationX>1477</locationX>
        <locationY>233</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>You_have_successfully_enrolled_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You have successfully completed the batch enrollment.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>955</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record_1</targetReference>
        </connector>
        <fields>
            <name>You_have_selected_the_following_students</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Selection Summary&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have selected the following students:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Oliver Acton&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Camila Ahlin&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Karin Alcalde&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;You have selected the following course:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;ES 6651-1, Research Elective&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Return to the previous page to make any corrections if you have made a mistake.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Home</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
