PDFViewer/force-app/main/default/flows/Form_7200_05.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_s2TrusteeRec</name>
        <label>assign s2TrusteeRec</label>
        <locationX>176</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>s2TrusteeRec.field1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>s2Trustee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_s2TrusteeSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_s2TrusteeSet</name>
        <label>assign s2TrusteeSet</label>
        <locationX>177</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>s2TrusteeSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>s2TrusteeRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s2More_Trustee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>s2assign_BeneficiaryRec</name>
        <label>assign BeneficiaryRec</label>
        <locationX>918</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>s2Beneficiary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>s2Beneficiary_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>s2Living</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>s2Recognized_By_The_IRS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s2assign_BeneficiarySet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>s2assign_BeneficiarySet</name>
        <label>assign BeneficiarySet</label>
        <locationX>918</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>s2BeneficiarySet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>s2beneficiaryRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s2More_Beneficiary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>s2assign_BeneficiarySet_Header</name>
        <label>assign BeneficiarySet header</label>
        <locationX>739</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>s2BeneficiarySet</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>s2beneficiaryRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s2Beneficiaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>s2assigned_beneficiary_headers</name>
        <label>assigned beneficiary headers</label>
        <locationX>559</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Beneficiary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Beneficiary Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Is Individual Living?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>s2beneficiaryRec.field4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>If Charity or Non-Profit, Is It Recognized By The IRS?</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s2assign_BeneficiarySet_Header</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>s2Choice</name>
        <choiceText>Yes&lt;p&gt;No&lt;/p&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>s2More_Beneficiary</name>
        <label>More Beneficiary</label>
        <locationX>1146</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Save_To_PDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>s2BeneficiarySetYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>s2Add_more_Beneficiary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s2Beneficiaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>s2More_Trustee</name>
        <label>More Trustee</label>
        <locationX>434</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>s2assigned_beneficiary_headers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>s2TrustYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>s2add_more_trustee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s2Trusttees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Form 7200-05 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form 7200-05</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>s2Beneficiaries</name>
        <label>Beneficiaries</label>
        <locationX>918</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s2assign_BeneficiaryRec</targetReference>
        </connector>
        <fields>
            <name>s2Beneficiary</name>
            <dataType>String</dataType>
            <fieldText>Beneficiary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s2Beneficiary_Type</name>
            <dataType>String</dataType>
            <fieldText>Beneficiary Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2Living</name>
            <dataType>Boolean</dataType>
            <fieldText>Living</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s2Recognized_By_The_IRS</name>
            <dataType>Boolean</dataType>
            <fieldText>Recognized By The IRS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s2Add_more_Beneficiary</name>
            <dataType>Boolean</dataType>
            <fieldText>Add more Beneficiary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s2Trusttees</name>
        <label>Trusttees</label>
        <locationX>179</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_s2TrusteeRec</targetReference>
        </connector>
        <fields>
            <name>s2Trustee</name>
            <dataType>String</dataType>
            <fieldText>Trustee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s2add_more_trustee</name>
            <dataType>Boolean</dataType>
            <fieldText>add more trustee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Save_To_PDF</name>
        <label>Save To PDF</label>
        <locationX>1339</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JSon</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!JSONInFlow}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s2SaveToPDF</name>
            <extensionName>c:saveToPDF</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>formId</name>
                <value>
                    <stringValue>7200-05</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formParameters</name>
                <value>
                    <elementReference>JSONInFlow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>0035w000034ZqQ1AAK</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SECTION_I_FINANCIAL_INSTITUTION</name>
        <label>SECTION I - FINANCIAL INSTITUTION</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>s2Trusttees</targetReference>
        </connector>
        <fields>
            <name>s1Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1Closing_Date</name>
            <dataType>Date</dataType>
            <fieldText>Closing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1Customer_Number</name>
            <dataType>String</dataType>
            <fieldText>Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SECTION_I_FINANCIAL_INSTITUTION</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>JSONInFlow</name>
        <text>{&quot;FundName&quot;:&quot;{!s1Name}&quot;,
&quot;FundClosingDate&quot;:&quot;{!s1Closing_Date}&quot;,
&quot;AccountNumber&quot;:&quot;{!s1Account_Number}&quot;,
&quot;DepositorId&quot;:&quot;{!s1Customer_Number}&quot;,
&quot;TrusteeNameList&quot;:{!s2TrusteeSet},
&quot;BeneficiaryNameList&quot;:{!s2BeneficiarySet}
}</text>
    </textTemplates>
    <variables>
        <name>PicklistBeneficiaryType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>s2beneficiaryRec</name>
        <apexClass>FlowVariablesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>s2BeneficiarySet</name>
        <apexClass>FlowVariablesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>s2TrusteeRec</name>
        <apexClass>FlowVariablesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>s2TrusteeSet</name>
        <apexClass>FlowVariablesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>s2TrusteeSet_Deleted</name>
        <apexClass>FlowVariablesWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
